<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.skjolber.nfc.external.hceclient"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc.hce" android:required="true" />
        
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/appName"
        android:theme="@style/AppTheme"
         >
        <activity
            android:name=".HceActivity"
            android:label="@string/appName"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleInstance"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


		<service
            android:name=".EchoHostApduService"
            android:exported="true"
            android:permission="android.permission.BIND_NFC_SERVICE" >
            
	        <intent-filter>
	            <action android:name="android.nfc.cardemulation.action.HOST_APDU_SERVICE" />
	       </intent-filter>
       
            <meta-data
                android:name="android.nfc.cardemulation.host_apdu_service"
                android:resource="@xml/echoservice" />
        </service>

        <activity
            android:launchMode="singleInstance"
            android:name=".HceInvokerActivity"
            android:label="@string/invokerTitle"
            android:configChanges="keyboardHidden|orientation|screenSize"
            >
        </activity>

        <activity
            android:name=".PreferencesActivity"
            android:label="@string/preferences"
            >
        </activity>
    </application>

</manifest>
